:root{
    --cor0:#001D57;/*gradi inicio fundo e nav*/
    --cor1:#001542;/*gradi fim nav e borda ft onde moro*/
    --cor2:#00091dc7;/*fundo div*/
    --cor3:#001542;/*fundo nav,hover home-navs*/

    --cor4:#68C5DB;/*links, h2s*/
    --cor5:#a7d129;/*sombra nav*/

    --cor6:#f0f8ff;/*h1, p, lis*/
}
/* ---------------GERAL----------------- */
body{
    background-image: linear-gradient(to right,#001D57 , #001542);
}
.divs-common{
    border-radius: 5%;
    background-color: var(--cor2);
    padding: 50px 0px;
    margin-top: 15px;
    text-align: center;
}
a{
    text-decoration: none;
    color: var(--cor4);
}
a:hover{
    color: var(--cor6);
}
p, h1, h2{
    color: var(--cor6);
}
p{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*-----------------NAV---------------------*/
nav {
    position: fixed;
    width: 100%;
    height: 8%;
    top: -5px;
    text-align: center;
    background-image: linear-gradient(to right,#001542,#001D57);
    border-bottom: 1px solid var(--cor5);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
nav ul {
    position: relative;
    top: 50%;
    transform: translateY(-45%);
}
nav ul li{
    display: inline-block;
    width: 17%;
}
nav ul li img{
    filter: brightness(100%);
    width: 60px;
}
nav ul li img:hover{
    filter: brightness(160%);
}
.commom-border{
    border-radius: 15%;
}
#github-icon:hover{
    filter: brightness(0%) invert(1);
}
/* ----------------HOME-------------------- */
#home{
    padding-top: 80px;
    padding-bottom: 130px/* 130px bom p/ desk .. 80px bom p/ mobile*/;
}
#home ul li{
    display: inline-block;
    padding: 10px;
    margin: 50px 0px 50px 10px;
    border: 1px solid var(--cor5);
    border-radius: 20px;
}
#home ul li:hover{
    background-color: var(--cor3);
    border-color: var(--cor1);
}
#h-sobre img{
    float: right;
    width: 180px;/* 180px -> bom p/ dektop .. 30% bom p/ mobile */
    margin-right: 10px;
    border-radius: 100%;
    border: 6px solid var(--cor1);
}
#h-sobre p{
    margin-left: 5%;
    text-align: left;
}
.espaco-p-sobre{
    margin-bottom: 20px;
}

/*-------------------ONDE MORO-------------------*/
#onde-moro img{
    width: 80%;
    border-radius: 5%;
    border: 5px solid var(--cor1);
}
#onde-moro p{
    margin-bottom: 25px;
}

/*--------------------MySkills------------------------*/

#mySkills h2{
    color: var(--cor4);
    font-size: 45px;
}
#mySkills ul li{
    color: var(--cor6);
}

.nivelA{
    font-size: 45px;
}
.nivelI{
    font-size: 40px;
}
.nivelB{
    font-size: 3%0px;
}
/*------------Footer--------------*/
footer{
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    background-color: rgb(12, 12, 12);
    color: var(--cor6);
}
footer ul{
    list-style: none;
}

